{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}
  Folders
{% endblock title %}

{% block page_header_title %}
Folders
{% endblock page_header_title %}

{% block breadcrumb %}
  <a href="{% url 'folder_list' %}" class="breadcrumb-item">Folders</a>
{% endblock breadcrumb %}

{% block add_some %}
  <a href="{% url "create_folder" %}" class="btn btn-success btn-icon w-135px h-32px ms-2">
    <span class="me-1">Create Folder</span>
    <i class="ph-plus"></i>
  </a>
{% endblock add_some %}

{% block content_area %}

	<div class="card rounded-0">
		{% include 'main_app/folder/folder_table_template.html' with folders=folders %}
	</div>
	<!-- /task manager table -->

{% endblock content_area %}

{% block import_js %}	
	<script src="{% static 'main_app/js/index_js/task_manager_list.js' %}"></script>

	<script src="{% static 'main_app/js/index_js/datatables.min.js' %} "></script>
	<script src="{% static 'main_app/js/index_js/natural_sort.js' %}"></script>

	<script src="{% static 'main_app/js/index_js/custom_type.js' %}"></script>
	<script src="{% static 'main_app/js/index_js/custom_view.js' %}"></script>
{% endblock import_js %}