{% include 'main_app/templates/status_badge.html' with act_item=item %}

<div id="status-dropdown-{{ act_item.id }}" class="dropdown-menu" style="display: none; position: absolute; z-index: 1000; width: auto; margin-top: 5px;">
    <a href="#" class="dropdown-item" onclick="selectStatus({{ act_item.id }}, 'new', '{{ item.type }}')">
        <i class="ph-plus me-2"></i>
        <span class="badge bg-warning bg-opacity-20 text-warning me-3">New</span>
    </a>
    <a href="#" class="dropdown-item" onclick="selectStatus({{ act_item.id }}, 'working', '{{ item.type }}')">
        <i class="ph-arrows-clockwise me-2"></i>
        <span class="badge bg-info bg-opacity-20 text-info me-3">Working</span>
    </a>
    <a href="#" class="dropdown-item" onclick="selectStatus({{ act_item.id }}, 'pause', '{{ item.type }}')">
        <i class="ph-pause me-2"></i>
        <span class="badge bg-dark bg-opacity-20 text-dark me-3">Pause</span>
    </a>
    <a href="#" class="dropdown-item" onclick="selectStatus({{ act_item.id }}, 'done', '{{ item.type }}')">
        <i class="ph-check me-2"></i>
        <span class="badge bg-success bg-opacity-20 text-success me-3">Done</span>
    </a>
    <a href="#" class="dropdown-item" onclick="selectStatus({{ act_item.id }}, 'closed', '{{ item.type }}')">
        <i class="ph-check-square me-2"></i>
        <span class="badge bg-primary bg-opacity-20 text-primary me-3">Closed</span>
    </a>
    <a href="#" class="dropdown-item" onclick="selectStatus({{ act_item.id }}, 'archive', '{{ item.type }}')">
        <i class="ph-archive me-2"></i>
        <span class="badge bg-secondary bg-opacity-20 text-secondary me-3">Archive</span>
    </a>
</div>

<script>
    function toggleDropdown(act_itemId) {
        var dropdown = document.getElementById("status-dropdown-" + act_itemId);
        var currentStatus = document.getElementById("status-display-" + act_itemId);

        // Toggle visibility of the dropdown
        dropdown.style.display = dropdown.style.display === "none" ? "block" : "none";

        // Close dropdown when clicking outside
        document.addEventListener('click', function(event) {
            if (!currentStatus.contains(event.target) && !dropdown.contains(event.target)) {
                dropdown.style.display = "none";
            }
        });
    }

    function selectStatus(act_itemId, newStatus, type) {
        var url = type === 'project' 
            ? "{% url 'project_update_status' 0 %}".replace('0', act_itemId) 
            : "{% url 'folder_update_status' 0 %}".replace('0', act_itemId);

        // Send AJAX request to update the status
        $.ajax({
            url: url,
            type: 'POST',
            data: {
                'status': newStatus,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(response) {
                // Update the displayed status text and badge class
                var statusDisplay = document.getElementById("status-display-" + act_itemId);
                statusDisplay.innerHTML = newStatus.charAt(0).toUpperCase() + newStatus.slice(1);
                statusDisplay.className = "badge " + getStatusClass(newStatus);

                var dropdown = document.getElementById("status-dropdown-" + act_itemId);
                dropdown.style.display = "none";
            }
        });
    }

    function getStatusClass(status) {
        switch(status) {
            case 'pause': return 'bg-dark bg-opacity-20 text-dark';
            case 'new': return 'bg-warning bg-opacity-20 text-warning';
            case 'working': return 'bg-info bg-opacity-20 text-info';
            case 'done': return 'bg-success bg-opacity-20 text-success';
            case 'closed': return 'bg-primary bg-opacity-20 text-primary';
            case 'archive': return 'bg-secondary bg-opacity-20 text-secondary';
            default: return '';
        }
    }
</script>
